$outer-margin: 165px;
$section-top-margin: 15px;

.anchor-point {
  display: block;
  margin-top: -200px;
  height: 200px;
  visibility: hidden;
  pointer-events: none;
}

.menu-sized-container {
  .rune-section-spacing {
    height: 120px;
  }
  .super-power-section {
    // background-image: url("~assets/images/rune-page/rune-5-super-powers-background.png");
    background-size: contain;
    height: 763px;
    background-repeat: no-repeat;
  }
  .rune-page-section-right {
    img {
      margin-left: 42px;
    }
    .rune-page-section-text {
      width: 480px;
      margin-top: $section-top-margin;
      // border:1px solid blue;
      margin-left: auto;
      margin-right: $outer-margin;
    }
  }
  .rune-page-section-left {
    .col:first-child {
      z-index: 1;
    }
    img {
      // margin-left: -1*$outer-margin;
      margin-left: 10px;
      z-index: -1;
    }
    .rune-page-section-text {
      width: 480px;
      margin-top: $section-top-margin;
      // border:1px solid blue;
      margin-left: $outer-margin;
    }
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  // margin-left: -82px;
}

.strips-container {
  margin-top: 249px;
  margin-bottom: 70px;
  position: relative;
  left: 104px;
  // width: 43px;

  .community-pros {
    position: sticky;
    top: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .avatar-pro {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background: -webkit-linear-gradient(45deg, $blueBackground, $blueGreen);
      box-shadow: #00CCFF 0px 0px 15px -3px, #33ff99 0px 0px 6px -2px;

      .avatar-img {
        cursor: pointer;
        width: 43px;
        height: 43px;
        padding: 3px;
        border-radius: 50%;
      }

      .tag-shape {
        position: absolute;
        height: 60px;
        width: 34px;
        left: -30px;
      }

      &.active {
        background: #F3BA2F;
        box-shadow: none;

        .content {
          display: flex;
        }
      }

      .content {
        display: none;
        position: absolute;
        width: 307px;
        height: 60px;
        left: 80px;
        justify-content: space-between;
        align-items: center;
        background: #000B12;
        padding: 0 31px 0 5px;
        border-radius: 12px;
        border: 2.3px solid #F3BA2F;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        span {
          color: #F3BA2F;
        }

        .icons {
          display: flex;
          align-items: center;

          a {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: 0 2.5px;
            background-repeat: no-repeat;
            margin-top: 6px;
            
            &.telegram-icon{
              background-image: url('~assets/images/icons/social-telegram-icon.svg');

              &:hover {
                  background-image: url('~assets/images/icons/social-telegram-icon-hover-yellow.svg');
              }
            }
            &.github-icon{
                background-image: url('~assets/images/icons/social-github-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-github-icon-hover-yellow.svg');
                }
            }
            &.gitlab-icon{
                background-image: url('~assets/images/icons/social-gitlab-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-gitlab-icon-hover-yellow.svg');
                }
            }
            &.twitter-icon{
                background-image: url('~assets/images/icons/social-twitter-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-twitter-icon-hover-yellow.svg');
                }
            }
          }
        }

        // &::before {
          // display: block;
          // content: "";
          // position: absolute;
          // background-image: url(~assets/images/technical-page/tag-shape2.svg);
          // left: -27px;
          // background-repeat: no-repeat;
          // width: 28px;
          // height: 60px;
        // }
      }
      
    }
  }
}

.outer-container {
  position: relative;
}

.annu-box {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 24px;
  clip-path: inset(0 0 0 0 round 25px) !important;
  mask-image: radial-gradient(circle, white 100%, black 100%);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  padding: 51px 0 51px 60px;

  .annu-btn {
    display: inline-block;
    border: none;
    background-color: #23dcc8;
    border-radius: 12px;
    color: $semiBlack;
    padding: 18px 30px;
    font-weight: 600;
    font-size: 21px;
    text-decoration: none;
    transition: all 0.2s;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $semiBlack;
    }
  }
}

.supply {
  background-color: $borderColor;
  color: #fff;
  background-image: url(~assets/images/rune-page/coin-background.svg);
  background-repeat: no-repeat;
  background-position: right center;
  height: 348px;

  h2 {
    width: 650px;
    font-family: "Exo 2";
    font-size: 58px;
    font-weight: 800;
  }

  .supply-text {
    width: 570px;
    margin-top: 15px;

    p {
      font-size: 22px;
      font-family: "Roboto";
      line-height: 1.6;
      font-weight: 500;
      margin: 0;
    }
  }

  .annu-lower {
    .annu-btn {
      font-size: 23px;
      padding: 15px 30px;
      margin-top: 8px;
      margin-bottom: 31px;
      text-decoration: none;
    }

    .earnings {
      color: #23dcc8;
      font-size: 24px;
      line-height: 32px;
      margin-left: 29px;
    }
  }
}

.thorchain-community {
  background-color: $borderColor;
  color: $white;
  height: 437px;
  background-image: url(~assets/images/rune-page/tvl-graphic.svg);
  background-repeat: no-repeat;
  background-position: left bottom;

  h2 {
    font-family: "Exo 2";
    font-size: 58px;
    font-weight: 800;
  }

  h3 {
    font-family: "Exo 2";
    font-size: 48px;
    font-weight: 800;
  }

  .thorchain-community-text {
    width: 670px;
    margin-top: 25px;

    p {
      font-size: 24px;
      font-family: "Roboto";
      font-weight: 400;
      line-height: 30px;
    }
  }

  .annu-lower {
    margin-top: 30px;
    .locked {
      line-height: 30px;
      font-size: 24px;
      color: #23dcc8;
      margin-left: 30px;
    }
  }
}

.butsir {
  background-color: $butSirBackground;
  color: $semiBlack;
  max-width: 1111px;
  border-radius: 24px;
  .butsir-content {
    padding: 23px 30px 30px 30px;

    .butsir-header h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.32px;
      margin: 0;
    }
    .butsir-text {
      margin-top: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 27px;
    }
    .butsir-links {
      margin-top: 25px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      .learn-more {
        font-weight: bold;
      }
      .butsir-link {
        display: inline-block;
        position: relative;
        padding: 8px 20px;
        background-color: $semiBlack;
        border-radius: 6px;
        box-shadow: 0px 1px black;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        margin-left: 10px;
        text-decoration: none;
        transition: all 0.2s;
        .icon {
          width: 15px;
          display: inline;
        }
        .hover {
          width: 15px;
          display: none;
        }
        &:hover {
          .hover {
            transition: all 0.2s;
            display: inline;
          }
          .icon {
            transition: all 0.2s;
            display: none;
          }
        }
        &:hover {
          color: $semiBlack;
          background-color: $white;
          box-shadow: 0px 1px $white;
        }
        &.disabled {
          color: $semiGray;
          cursor: default;
          &:hover {
            color: $semiGray;
            background-color: $semiBlack;
            box-shadow: 0px 1px black;
          }
        }
        .soon {
          position: absolute;
          font-weight: 300;
          font-size: 0.6em;
          right: 20px;
          top: -3.5px;
          color: $butSirBackground;
        }
      }
      .live-metrics {
        .butsir-link {
          background-color: rgba(#000, 0.1);
          box-shadow: none;
          color: $semiBlack;

          span {
            font-family: "Roboto Mono";
            color: $white;
          }
        }
      }
    }
  }
  .butsir-content-rtl {
    text-align: right;
  }
}

.apy-graph {
  width: 540px;
  background-color: #000b12;
  border: 2px solid #15242e;
  padding: 54px 0 64px 0;
  border-radius: 24px;
  text-align: center;

  h2,
  h1,
  h4 {
    font-family: "Exo 2";
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
  }

  h1 {
    font-size: 82px;
    color: white;
  }

  h2 {
    font-weight: 800;
  }

  h4 {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 0;
    letter-spacing: 0.3px;
  }

  p {
    font-size: 13px;
    font-weight: 400;
  }

  a {
    color: initial;
    text-decoration: none;
    display: inline-block;
  }

  .gradient-color {
    background: -webkit-linear-gradient(left, $blueBackground, $blueGreen);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .green-color {
    color: $green;
  }

  .sub-header {
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
  }

  .gradient-btn {
    background-image: linear-gradient(
      to right,
      $blueBackground 0%,
      $blueGreen 51%
    );
    border: none;
    font-size: 23px;
    padding: 15px 30px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
  }

  .green-btn {
    background-color: $green;
    border: none;
    font-size: 23px;
    padding: 15px 30px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
  }

  .gradient-btn:hover {
    background-position: right center;
  }
}
