<template>
  <a :href="link" @click="linkClicked()"><slot></slot></a>
</template>

<script>
export default {
  props: {
    linkProps: undefined
  },
  data(){
      return{
          link: '/404',
          category: 'not_defined',
          label: 'not_defined',
          action: 'not_defined',
          disabled: false
      }
  },
  mounted(){
      if(this.linkProps){
          if(this.linkProps.hasOwnProperty('action'))
            this.action = this.linkProps.action
          if(this.linkProps.hasOwnProperty('link'))
            this.link = this.linkProps.link
        if(this.linkProps.hasOwnProperty('category'))
            this.category = this.linkProps.category
        if(this.linkProps.hasOwnProperty('label'))
            this.label = this.linkProps.label
      }
      else{
          this.disabled = true
      }
    },
    methods:{
        linkClicked(){
            gtag('event', this.action, {
                'event_category': this.category,
                'event_label': this.label,
                'link': this.link,
                'event_callback': function() {
                //    console.log("Event sent")
                }
            });
        }
    }
};
</script>

<style>
</style>