<template>
  <header :class="{'home-header': isHomePage}">
    <div class="header-container">
      <!-- <div class="intro-video-container">
        <div @click="$store.commit('showYoutubeOverlay', true)">New! Thorchain Explainer Video</div>
      </div> -->
      <div class="intro-video-container">
        <ext-link :linkProps="$links('nav_shapeshift_mobile_app')" target="_blank">NEW! RUNE (ERC20) NOW AVAILABLE ON SHAPESHIFT MOBILE APP! DOWNLOAD THE APP NOW!</ext-link>
      </div>
      <div class="header">
        <div class="logo">
          <NuxtLink :to="localePath('/')">
            <!-- <img src="~/assets/images/thorchain/logo-website-v0.1.svg" alt="Thorchain" /> -->
            <img src="~/assets/images/thorchain/thorchain_shapeshift.svg" alt="Thorchain-shape-shift" />
          </NuxtLink>
        </div>
        <BaseNav />
      </div>
      <BaseMenuNav />
    </div>
  </header>
</template>

<script>
import ExtLink from '../page-components/ExtLink.vue';
export default {
  data() {
    return {
 
      hover: this.$route.path,
      isHomePage: this.$route.path == "/"
    }
  },
  methods: {
    changeHoverNav(value) {
      this.hover = value;
    }
  },
  watch:{
    $route(to, from) {
      console.log("route changed")
      this.isHomePage= this.$route.path == "/"
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 1px solid #15242E;
  }
  .home-header{
    border: none;
    position: static;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000B12;
    width: 1370px;
    margin: auto;
    padding: 0 15px;
  }

  .header-container {
    background-color: #000B12;
    min-width: 1370px;
  }

  .logo {
    margin-left: 20px;
    margin-bottom: 7px;
    
    img {
      margin: 3px 14px 0 0;
    }
  }
  .intro-video-container{
    div{
      height: 16px;
      display: block;
      background-color: #f3ba2f;
      text-align: center;
      text-decoration: none;
      color: #02121D;
      font-family: Roboto;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px;
      padding-top: 1px;
      cursor: pointer;
    }

    a{
      height: 16px;
      display: block;
      background-color:#386FF9;
      text-align: center;
      text-decoration: none;
      color: #FFFFFF;
      font-family: Roboto;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px;
      padding-top: 1px;
      cursor: pointer;
    }
  }
</style>