$above-card-margin: 30px;
$between-card-margin: 20px;
$cards-border-radius: 48px;
$card-btn-trans-ms: 100;
.card-spacing{
    height: $above-card-margin;
}
.slider-container{
    position: relative;
    .slider-countdown{
        position: absolute !important;
        bottom: 30px;
        left: 30px;
    }
}
.title-holder, .title-holder-imminent{
    height: 739px;
    // border: 1px solid red;
    background-image: url('~assets/images/home/bridge.jpg');
    background-size: cover;
    margin-top: 1px;
    padding-top: 102px;
    border-radius: 50px;
    h1 {
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        letter-spacing: -0.7px;
        color: #000B12;
        text-transform: uppercase;
    }
    .card-text{
        color: white;
        margin-top: 13px;
    }
    .butsir-btn{
        background-color: $butSirBackground;
        width: 237px;
        height: 64px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 32px;

        text-align: center;

        color: #02121D;
        border-radius: 12px;
        margin: 0 auto;
        margin-top: 24px;
        text-align: center;
        cursor: pointer;
        padding-top: 3px;
        // transition: all 0.1s;
        img{
            margin-top: 3px;
            margin-right: 8px;
        }
        span{
            margin-top: 20px;
        }
        &:hover{
            background-color: #000;
            color: $butSirBackground
        }
    }
}
.title-holder-imminent{
    background-image: url('~assets/images/home/multichain_testnet_imminent.png');

    h1 {
        color: #fff;
    }

    .card-text {
        word-spacing: 5px;
    }
}
.title-container{
    height: 739px;
    // border: 1px solid red;
    background-image: url('~assets/images/home/main-card.jpg');
    background-size: cover;
    margin-top: 1px;
    padding-top: 102px;
    border-radius: 50px;
    h1 {
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        letter-spacing: -0.7px;
        color: #000B12;
        text-transform: uppercase;
    }
    .card-text{
        color: #000B12;
        margin-top: 13px;
        word-spacing: 5px;
    }
    .butsir-btn{
        background-color: $butSirBackground;
        width: 237px;
        height: 64px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 32px;

        text-align: center;

        color: #02121D;
        border-radius: 12px;
        margin: 0 auto;
        margin-top: 24px;
        text-align: center;
        cursor: pointer;
        padding-top: 3px;
        // transition: all 0.1s;
        img{
            margin-top: 3px;
            margin-right: 8px;
        }
        span{
            margin-top: 20px;
        }
        &:hover{
            background-color: #000;
            color: $butSirBackground
        }
    }
    .card-wrapper {
        display: flex;
        justify-content: center;

        .embed-card {
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;
            // height: 220px;
            // width: 670px;
            // background-image: url('~assets/images/home/embedded-card.svg');
            // background-size: cover;
            // background-repeat: no-repeat;

            .text {
                text-align: center;
                margin: auto;
                margin-top: 35px;
                width: 330px;
                font-family: 'Roboto';
                font-size: 24px;
                color: #000B12;
                line-height: 30px;
            }

            .embed-card-link {
                color: #386FF9;
                font-size: 24px;
                text-decoration: none;
                line-height: 30px;
                font-weight: bold;
                margin: auto;
                margin-top: 34px;
                margin-bottom: 33px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.title-holder-testnet {
    background-image: url('~assets/images/home/multichain_testnet_imminent.png');
    
    h1 {
        color: #FFFFFF;
    }

    .card-text { 
        color:#FFF;
    }

    .card-wrapper {

        img {
            margin-top: 2px;
            margin-right: 7px;
        }

        .multi-testnet {
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .text {
                text-align: center;
                margin: auto;
                margin-top: 35px;
                width: 330px;
                font-family: 'Roboto';
                font-size: 24px;
                color: #FFFFFF;
                line-height: 30px;
            }

            .asgardex-btn {
                color: #FF9200;
                font-size: 24px;
                text-decoration: none;
                line-height: 30px;
                font-weight: bold;
                margin: auto;
                margin-top: 34px;
                margin-bottom: 33px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}
.title-holder-multicoin{
    background-image: url('~assets/images/home/bridge.png');
    .card-wrapper{
        .embed-card{
           .text{
               color: #FFFFFF;
           }
           .embed-card-link{
               color:#F5A624;
               &:hover{
                   text-decoration: underline;
               }
           }
        }
    }

}
.home-card {
    display: flex;
    flex-direction: column;
    border-radius: $cards-border-radius;
}

.news-card{
    height: 410px;
    width: 664px;
    background-image: url("~assets/images/home/sushi-bg.svg");
    color: #FFFFFF;
    .news-emojies{
        font-size: 110px;
        display: inline-block;
        margin: 0 auto;
        margin-top: 27px;
    }
    .news-text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        margin-top: 12px;
        /* or 125% */

        text-align: center;
    }
    .news-btns{
        margin-top: 50px;
        text-align: center;
        
        .card-btn{
            a{
                border: 2px solid #BABDCC;
                color: white;
                background-color: #0E0F23;
                &:first-child{
                    margin-right: 22px;
                    &:hover{
                        color: #f3ba2f;
                        border: 2px solid #f3ba2f;
                    }
                }
                &:nth-child(2){
                    &:hover{
                        color: #e74c96;
                        border: 2px solid #e74c96;
                    }
                }
            }
                
            }
    }
}
.home-btn{
    display: inline-block;
    border-radius: 12px;
    padding: 16px 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 32px;
}
.version-card{
    height: 410px;
    width: 664px;
    background-image: url("~assets/images/home/version-bg.svg");
    margin-right: $between-card-margin;
    .version-number{
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 800;
    font-size: 152px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -1.77333px;

    color: transparent;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:  #6A8BE9;

    margin-top: 80px;
    }
    .version-text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 78px;
    }
    .version-btns{
        margin-top: 50px;
        text-align: center;
        .card-btn{
            a {
                border: 2px solid #6A8BE9;
                color: white;
                &:hover{
                    border: 2px solid #fff;
                }
            }
        }
    }
}
.butsir-intro-card{
    display: flex;
    background-color: $butSirBackground;
    justify-content: center;
    align-items: center;
    border-radius: $cards-border-radius;
    margin-top: $above-card-margin;
    padding: 0;
    img{
        // border: 1px solid blue;
    }
    .butsir-content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
        .butsir-heading{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 38px;
            /* identical to box height, or 90% */

            text-align: center;
            letter-spacing: -0.42px;

            color: #02121D;
            margin-bottom: 30px;
        }
        .butsir-text{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            /* or 125% */

            text-align: center;

            color: #02121D;
        }
    }
}
.rune-section{
    margin-top: $above-card-margin;
    .col:first-child{
        margin-right: $between-card-margin;
    }
    .circulating-supply-card{
        height: 410px;
        background-image: url('~assets/images/home/cirulating-supply-card.svg');
        background-position-x: 1px;
        .supply-percent {
            font-family: "Exo 2";
            font-style: italic;
            text-align: center;
            letter-spacing: -1.77333px;
            color: #000B12;
            margin-top: 82px;

            span {
                font-weight: 800;
                font-size: 152px;
                line-height: 45px;

                span{
                    font-size: 83px;
                }
            }
            /* identical to box height, or 30% */
    
            
        }
        .supply-text{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            
            /* or 125% */
    
            text-align: center;
    
            color: #000B12;
            margin-top: 34px;

        }
        .card-btn{
            margin-top: 33px;
            a{ 
                display: inline-block;
                background: #000B12;
                color: #23DCC8;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
    }
    .all-tvl-card{
        height: 410px;
        margin-top: $above-card-margin;
        background-image: url('~assets/images/home/all-tvl-card.svg');
        .all-tvl-title{
            margin-top: 78px;
            font-family: "Exo 2";
            font-style: normal;
            font-weight: 800;
            font-size: 83px;
            line-height: 45px;
            /* identical to box height, or 54% */

            text-align: center;
            letter-spacing: -0.968333px;

            color: #FFFFFF;
            span:nth-child(2){
            font-size: 152px;
            }
        }
        .card-text{
            margin-top: 47px;
            color: white;
        }
        .card-btn{
            margin-top: 51px;
            a{
                background-color: #000B12;
                color: #fff;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
    }
    .rune-me-card{
        height: 863px;
        width: 664px;
        background-image: url('~assets/images/home/rune-me-card.svg');
        background-size: cover;
        border: 2px solid $borderColor;
        .rune-me-title{
            margin-top: 82px;
            font-family: "Exo 2";
            font-style: normal;
            font-weight: 800;
            font-size: 152px;
            line-height: 45px;
            /* identical to box height, or 30% */
            text-align: center;
            height: 90px;

            letter-spacing: -1.77333px;

            color: #23DCC8;
        }
        .card-text{
            margin-top: 33px;
            color: white;
        }
        .card-btn {
            margin-top: 31px;
            a{
                display: inline-block;
                color: #000B12;
                background-color: #23DCC8;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
        .markets-table{
            margin-top: 50px;
            border-bottom-right-radius: 48px;
            border-bottom-left-radius: 48px;
            overflow: hidden;
            // padding: 0 2px 0 1px;
        }
    }
}
.card-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 32px;
    /* identical to box height, or 139% */

    text-align: center;
    span{
        border-radius: 12px;
        padding: 16px 32px;
    }
    a{
        text-decoration: none;
        border-radius: 12px;
        padding: 16px 32px;
    }
}
.card-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */

    text-align: center;
}

.tweets-section{
    margin-top: $above-card-margin;
    .tw-container{
        z-index: 2;
    }
    .col:first-child{
        margin-right: $between-card-margin;
    }
    .home-card{
        border: 2px solid #15252E;
        padding-top: 56px;
    }
    .apy{
        font-family: "Exo 2";
        font-style: italic;
        font-weight: 800;
        font-size: 145px;
        line-height: 131px;
        /* identical to box height, or 90% */
        text-align: center;
        letter-spacing: -1.69167px;
        margin-top: 10px;
        color: #FFFFFF;
        span{
            font-size: 83px;
        }

    }
    .card-btn{
        margin-top:22px;
        margin-bottom: 64px;
        a{
            background: #1DA1F2;
            color: white;
            &:hover{
                background-color: #1991da;
            }
        }
    }
}
.node-stat{
    height: 410px;
    background-image: url('~assets/images/home/node-stat-bg.svg');
    background-size: initial;
    background-repeat: no-repeat;
    margin-top: $above-card-margin;
    .head{
        font-family: "Exo 2";
        font-style: italic;
        font-weight: 800;
        font-size: 152px;
        line-height: 45px;
        text-align: center;
        letter-spacing: -1.77333px;
        margin-top: 85px;
        height: 87px;
        span{
            font-size: 83px;
        }
    }
    .card-text{
        margin-top:27px;
    }
    .card-btn{
        margin-top: 54px;
        margin-bottom: 60px;
    }
    .active{
        color: #000B12;
        .card-btn{
            a {
                color: #32CD32;
                background-color: #000B12;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
    }
    .standby{
        color: white;
        .card-btn{
            a{
                color: #000B12;
                background-color: #32CD32;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
    }
}
.solvency-card{
    background-color: #fff;
    color: black;
    border-radius: $cards-border-radius;
    margin-top: $above-card-margin;
    padding: 46px 45px;
    .line{
        border: none;
        height: 3px;
        background-color: #000; /* Modern Browsers */
    }
    .title{
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 64px;
        text-align: right;
        letter-spacing: -0.7px;
    }
    .card-text{
        margin-top: 33px;
        margin-bottom: 22px;
        text-align: right;
    }
    .footer{
        margin-top: 26px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;

        text-align: right;
    }

    .col:first-child{
        margin-right: 50px;
        max-width: 570px;
    }
    .metrics{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 38px;
        /* identical to box height, or 106% */

        letter-spacing: -0.36px;
        .metric{
            display: flex;
            justify-content: space-between;
            padding: 26px 0 19px 0;
            &:first-child{
                padding-top:8px;
            } 
            span{
                font-family: "Roboto Mono";
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 38px;
                text-align: right;
                letter-spacing: -0.135px;
            }
        }
    }
    .card-btn{
        justify-content: space-between;
        display: flex;
        margin-top:16px;
        margin-bottom: 5px;
        a{
            color: white;
            background-color: #000;
            &:hover{
                color: #000b12;
                background-color: #f3ba2f;
            }
        }
    }
}
.indicators-card{
    margin-top: $above-card-margin;
    border-radius: $cards-border-radius;
    background-image: url('~assets/images/home/indicators-card-bg.svg');
    padding-top: 40px;
    .title{
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 64px;
        letter-spacing: -0.7px;
        background: linear-gradient(90deg, #FFFB00 0%, #F625F0 58.29%, #00F6EE 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .col{
        padding: 0;
    }
    .col:first-child{
        margin-right: 50px;
    }
    .card-text{
        color: white;
        text-align: left;
        margin-top: 35px;
    }
    .card-btn{
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        align-items: flex-start;
        .border-wrap {
            padding: 2px;
            background: linear-gradient(90deg, #FFFB00 0%, #F625F0 58.29%, #00F6EE 100%);
            display: inline-block;
        }
        a{
            background-color: #15242E;
            color: #fff;
            display: inline-block;
            &:hover{
                color: #000b12;
                background: linear-gradient(90deg, #00F6EE 0%, #F625F0 58.29%, #FFFB00 100%);
            }
        }
        .footer{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
            color: white;
            margin-left: 25px;
            padding: 16px 0;
        }
    }
    .metric{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 38px;
        letter-spacing: -0.56px;
        margin-left: 90px;
        margin-bottom: 40px;
        color: #fff;
        text-transform: uppercase;
        span{
            margin-left: 12px;
        }
        &:first-child{
            margin-top: 20px;
            span{
                color: #FFFB00;
            }
        }
        &:nth-child(2) span{
            color: #F625F0;
        }

        &:nth-child(3) span{
            color: #00F6EE;
        }
    }
}
.tools-table{
    background-image: url('~assets/images/home/tools-table-pic.jpg');
    background-repeat: no-repeat;
    padding: 0px;
    background-color: #000b12;
    border-radius: 50px;
    overflow: hidden;
    // border: 2px solid #15242e;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: -0.16px;
    color: #D1D5DA;
    margin-top: $above-card-margin;
    margin-bottom: 70px;
    .tools-table-header{
        .title{
            
            font-family: "Exo 2";
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            line-height: 64px;
            letter-spacing: -2.2px;
            color: #b8f8fe;
            margin-top: 50px;
            margin-left: 98px;
            text-transform: uppercase;
            
            // -webkit-text-stroke-width: 2px;
            // -webkit-text-stroke-color:  #9FF6FF;
            span{
                color: black;
            }
        }
        .card-text{
            margin-top: 40px;
            color: #fff;
        }
        .card-btn{
            margin-top:44px;
            margin-bottom: 80px;
            a{
                background-color: #b8f8fe;
                color: #000;
                &:hover{
                    color: #b8f8fe;
                    background-color: #000b12;
                }
                &:first-child{
                    margin-right: 23px;
                }
            }
        }
    }
    .table-wrapper{
        background: linear-gradient(90deg, #2b4f9f 0%, #00F6EE 100%);
        padding: 2px;
        border-bottom-right-radius: $cards-border-radius;
        border-bottom-left-radius: $cards-border-radius;
    }
    table {
        background-color: #000B12;
        // border-collapse: collapse;
        // border-style: hidden;
        // border: 3px solid #2b4f9f;
        border-bottom-right-radius: $cards-border-radius;
        border-bottom-left-radius: $cards-border-radius;
        margin: 0;
        font-family: Roboto;
        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
          border-style: none;
        }
        td{
            color: #D1D5DA;
        }
        tr {
            border-bottom: 1px solid #15242e;
            th:first-child,td:first-child{
                padding-left: 30px;
            }
            th:last-child{
                text-align: right;
                padding-right: 30px;
            }
            td:last-child{
                padding-right: 30px;
                text-align: right;
                display: flex;
                justify-content: flex-end;
                height:100%;
                a{
                    margin: 10px 2px 0px 2px;
                    display: flex;
                    height: 20px;
                    width: 20px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    &.telegram-icon{
                        background-image: url('~assets/images/home/telegram-icon.svg');

                        &:hover {
                            background-image: url('~assets/images/icons/social-telegram-icon.svg');
                        }
                    }
                    &.github-icon{
                        background-image: url('~assets/images/home/github-icon.svg');

                        &:hover {
                            background-image: url('~assets/images/icons/social-github-icon.svg');
                        }
                    }
                    &.gitlab-icon{
                        background-image: url('~assets/images/home/gitlab-icon.svg');

                        &:hover {
                            background-image: url('~assets/images/icons/social-gitlab-icon.svg');
                        }
                    }
                    &.twitter-icon{
                        background-image: url('~assets/images/home/twitter-icon.svg');

                        &:hover {
                            background-image: url('~assets/images/icons/social-twitter-icon.svg');
                        }
                    }
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
        a{
            color: #57F9FF;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }

}